.rss_box{  text-align: left;}
.url{display: none;}
.ua , .com{display: none;}

.ua-list label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}
.container{
	text-align: center;
}

.mybtn{
	display: inline-block;
	margin-top: 20px;
}

a{
	display: block;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
}
.feed{
display: none;
}